<AuthorizeView>
<Authorized>
@page "/policias/delete/{id:int}"
<PageTitle>Borrar policia[@policia?.Nombre]</PageTitle>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container border">
<center>
<h1>¿Estas seguro que deseas eliminar el policia con numero de placa "@policia?.Numeroplaca"?</h1>

 <button  class="btn btn-primary" @onclick="ConfirmarDelete">delete</button>
 <a href="/policias" class="btn btn-danger">Cancelar</a></center>
</div>
@using System.Net.Http.Json
@using System.Net.Http
@using Policia.Data.Model
@inject HttpClient http
@inject NavigationManager NavigationManager

@code{
    [Parameter]

    public int id {get; set;}
    PoliciaCreateRequest? policia;
    
    protected override async Task OnInitializedAsync(){

       policia = await http.GetFromJsonAsync<PoliciaCreateRequest>($"Policias/GetById/{id}");   
    }
    private async Task ConfirmarDelete(){
        var response = await http.DeleteAsync($"Policias/Delete/{id}");
        if (response.IsSuccessStatusCode)
        {
             NavigationManager.NavigateTo("/Policias");
        }
        
    }
}
 </Authorized>
 
 <NotAuthorized>
     <br><br><br><br><br><br><br><br><br>
     <center><strong><p><h5>USTED NO ES UN ADMINISTRADIR</h5></p></strong></center>
 </NotAuthorized>
       </AuthorizeView>