@page "/login"

<PageTitle>Iniciar Secion</PageTitle>

<br>
<br>
<br>
<br>
<br>
<br>
<center><h1>INICIAR SESION</h1></center>


<section class="form-login">
    <form asp-action="Onpost" method="post">
        <h5>Inicia sesion</h5>
        
        <input class="controls" type="text" name="Cor" asp-for="Correo" value="" placeholder="Usuario" required maxlength="28">
        <input class="controls" type="password" name="Contra" asp-for="Contrase単a" placeholder="Contrase単a" required maxlength="28">
        <input class="buttons" type="submit" name="" id="enviardatos" value="Ingresar">
        <p><a href="gestionproyectos.html">多Olvidastes tu Contrase単a?</a></p>
    </form>
</section>