@page "/nosotros"
<br><br><br><br><br>
<!-- About Section-->
        <section class="page-section bg-primary text-white mb-0" id="about" style="margin-top: 10px;">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">Nosotros</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-4 ms-auto">
                        <div><center><strong><p><h4>MISION</h4></p></strong></center></div>
                        <p class="lead">Nuestra misión es lograr que la población pueda tener una herramienta en 
                            donde puedan obtener información extra acerca de cuélales son las ubicaciones más 
                            inseguras, intermedias o seguras y así poder tomar la mejor decisión de cual camino tomar 
                            cuando salen de un punto a otro,  y así elegir por donde pasar y no pasar, dependiendo de las 
                            recomendaciones de las ubicaciones agregadas, además de que la misma comunidad pueda ayudar a 
                            lograr esto mismo, agregando las direcciones que ellos consideren que le pueda ser de ayuda a otra.

                        </p></div>
                      
                    <div class="col-lg-4 me-auto">
                         <center> <div><strong><p><h4>VISION</h4></p></strong></div></center>
                        <p class="lead">Tenemos la visión de crear una gran comunidad, una en donde los usuarios registrados 
                            agreguen direcciones de manera consiente, con lo que implica todo esto, además de que se pretende 
                            almacenar un gran registro de ubicaciones para que la información pueda llegar a mas personas, 
                            por el momento solo se limita a Yucatán más específico a Mérida y sus alrededores, pero se pretende 
                            crecer conforme la comunidad valla en aumento.</p></div>
                </div>
                <!-- About Section Button-->
                <AuthorizeView>
                    <Authorized>
                <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-light" href="/lugares">
                        <i class="fas fa-home-2"></i>
                        Agregar Ruta
                    </a>
                </div>
                </Authorized>
                <NotAuthorized>
                    <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-light" href="/login">
                        <i class="fas fa-home-2"></i>
                        Agregar Ruta
                    </a>
                </div>
                </NotAuthorized>
                </AuthorizeView>
            </div>
        </section>


         <!-- Footer-->
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Locacion</h4>
                        <p class="lead mb-0">
                            Colonia Centro
                            <br />
                            MO 65243
                        </p>
                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Encuentranos en:</h4>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
                    </div>
                    <!-- Footer About Text-->
                    <div class="col-lg-4">
                        <h4 class="text-uppercase mb-4">Acerca de SC</h4>
                        <p class="lead mb-0">
                            SC es para uso publico, MIT licensed created by
                            <a href="http://startbootstrap.com">Gobierno de Yucatan</a>
                            .
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Copyright Section-->
        <div class="copyright py-4 text-center text-white">
            <div class="container"><small>Copyright &copy; SC 2022</small></div>
        </div>
        <!-- Portfolio Modals-->
       
        <!-- Portfolio Modal 6-->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" aria-labelledby="portfolioModal6" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Submarine</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="assets/img/portfolio/submarine.png" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                    <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                                        <i class="fas fa-times fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
       

